
*.tlog
Witchcraft/.vs
Witchcraft/Debug

*.idb
Witchcraft/Witchcraft/Debug/*
Witchcraft/Witchcraft/witchcraft_error_log.txt
_LoveEngine-master.zip
*.iobj
*.ipdb
*.aps

Witchcraft/lib/rapidxml/rapidxml-1.13/*